body {
    margin: 0;
    background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/HighresScreenshot00005-1920x1080-14a2fd60d6fa4b157b1ffd42fdc9d7f7.png?resize=1&w=1920);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    row-gap: 75px;
    margin: 0;
    grid-template-areas: 
    "header header header"
    ". body ."
    "footer footer footer"
    ;
}

.header {
    background-color: rgb(22, 26, 29, .8);
    grid-area: header;
    display: grid;
    padding: 75px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". header-text navbar"
    ;
}

#header-text {
    grid-area: header-text;
    display: flex;
    justify-content: center;
    color: #F5F3F4;
    font-size: 50px;
    font-weight: 600;
    font-family: "Source Sans 3";
    align-items: center;
}

#navbar {
    grid-area: navbar;
    max-height: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.body {
    display: grid;
    grid-area: body;
    background-color: rgb(22, 26, 29, .8);
    color: #F5F3F4;
    font-family: "Merriweather";
    
}

.body-text {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

#title {
    border: 10px solid #F5F3F4;
    display: flex;
    justify-content: center;
    color: #F5F3F4;
    font-size: 50px;
    font-weight: 600;
    font-family: "Source Sans 3";
}

.baker-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.img {
    background-image: url("../img/baker.jpeg");
    background-size:contain;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.bakery-img {
    background-image: url("../img/bakery.jpeg");
    background-size:contain;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.footer {
    grid-area: footer;
    background-color: rgb(22, 26, 29, .8);
    padding: 75px;
}

.footer-text {
    color: #F5F3F4;
    font-family: "Merriweather";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: sans-serif;
    text-transform: uppercase;
  } 
   
  .btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
  } 
   
  .btn-rect-to-round {
    height: 55px;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: 0.5s ease-in;
  } 
   
  .btn-rect-to-round:hover {
    border-radius: 60px;
    color: rgb(255, 255, 255) !important;
  } 
   
  .btn-rect-to-round--red {
    color: rgb(239, 35, 60) !important;
    border: 2px solid rgb(239, 35, 60);
  } 
   
  .btn-rect-to-round--red:hover {
    border-color: rgb(239, 35, 60);
    background: rgb(239, 35, 60);
  } 
#cookie {
    background-image: url("../img/cookie.jpeg");
    background-size:cover;
    height: 100%;
    width: 50%;
}
#bagel {
    background-image: url("../img/bagel.jpeg");
    background-size:cover;
    height: 100%;
    width: 50%;
}

#cookie {
    background-image: url("../img/cookie.jpeg");
    background-size:cover;
    height: 100%;
    width: 50%;
}
#muffin {
    background-image: url("../img/muffin.jpeg");
    background-size:cover;
    height: 100%;
    width: 50%;
}
#donut {
    background-image: url("../img/donuts.jpeg");
    background-size:cover;
    height: 100%;
    width: 50%;
}
#bread {
    background-image: url("../img/bread.jpeg");
    background-size:cover;
    height: 100%;
    width: 50%;
}

#cake {
    background-image: url("../img/cake.jpeg");
    background-size:cover;
    height: 100%;
    width: 50%;
}

.menu-item {
    font-family: "Merriweather";
    font-size: 20px;
    font-weight: 600;
}